<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static' , path='css/position.css')}}">
	<link href="https://fonts.cdnfonts.com/css/homer-simpson-revised" rel="stylesheet">
    <title>Homer Web</title>
</head>
<body>
    <h1>Homer's Web Page</h1> <br>
	<img id="boca1" src="{{ url_for('static' , path='img/boca_90px1.gif')}}" alt="boca_90px1"/>
	<img id="boca2" src="{{ url_for('static' , path='img/boca_90px1.gif')}}" alt="boca_90px1"/>
	<img id="campana1" src="{{ url_for('static' , path='img/campana_60px1.gif')}}" alt="campana_60px1"/>
	<img id="campana2" src="{{ url_for('static' , path='img/campana_60px1.gif')}}" alt="campana_60px1"/>
	<img id="gusano1" src="{{ url_for('static' , path='img/gusano_60px1.gif')}}" alt="gusano_60px1"/>
	<img id="gusano2" src="{{ url_for('static' , path='img/gusano_60px1.gif')}}" alt="gusano_60px1"/>
	<img id="gusano3" src="{{ url_for('static' , path='img/gusano_60px1.gif')}}" alt="gusano_60px1"/>
	<img id="jesus" src="{{ url_for('static' , path='img/jebusDance.gif')}}" alt="jebusDance"/>
	<img id="reloj1" src="{{ url_for('static' , path='img/reloj_60px1.gif')}}" alt="reloj_60px1"/>
	<img id="reloj2" src="{{ url_for('static' , path='img/reloj_60px1.gif')}}" alt="reloj_60px1"/>
	<img id="reloj3" src="{{ url_for('static' , path='img/reloj_60px1.gif')}}" alt="reloj_60px1"/>
	<img id="tostadora1" src="{{ url_for('static' , path='img/tostadora_70px1.gif')}}" alt="tostadora_70px1"/>
	<img id="tostadora2" src="{{ url_for('static' , path='img/tostadora_70px1.gif')}}" alt="tostadora_70px1"/>
	<img id="tostadora3" src="{{ url_for('static' , path='img/tostadora_70px1.gif')}}" alt="tostadora_70px1"/>
	<img id="tostadora4" src="{{ url_for('static' , path='img/tostadora_70px1.gif')}}" alt="tostadora_70px1"/>
	<img id="counter" src="{{ url_for('static' , path='img/counter.gif')}}" alt="counter"/>

</body>
</html>